@font-face {
  font-family: "Roboto bold";
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
}

:root {
  /* Sidebar */
  --sidebar-font-color: #fff;
  --sidebar-bgcolor: #1992d4;
  
  /* Main content */
  --main-bgcolor: #e2e8f0;
  --main-header-bgcolor: #fff;
  --main-title-font-color: #020202;
  --main-description-font-color: #707070;
  --main-input-bgcolor: #e2e8f0;
  --main-btn-font-bgcolor: #fff;
  --main-btn-bgcolor: #1992d4;
  --main-btn-hover-bgcolor: #1479af;
  --main-card-bgcolor: #fff;
  --main-card-strip-color: #f0b429;
  --main-card-strip2-color: #e5e5e5;

  --shadow-color: #babfc7;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto bold";
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: var(--main-bgcolor);
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar-menu {
  color: var(--sidebar-font-color);
  background-color: var(--sidebar-bgcolor);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* resize the images according to the parent's element font size */
.sidebar-menu img[alt="dashboard"] {
  width: 1.6em;
}
.sidebar-menu img {
  width: 1.3em;
  filter: invert(100%);
}

.sidebar-menu header {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar-menu a {
  text-decoration: none;
  color: var(--sidebar-font-color);
}

.sidebar-menu .link-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-menu .top-links li,
.sidebar-menu .bottom-links li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Main Content */
.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content img[alt="user"] {
  vertical-align: middle;
  border-radius: 50%;
  object-fit: cover;
}

.main-content header {
  height: 20%;
  padding: 1rem 3rem;
  background-color: var(--main-header-bgcolor);
  box-shadow: 2px 5px 5px var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 2em;
  z-index: 2;
}

.main-content .welcomer-nav,
.main-content .menu-nav {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.main-content .menu-nav {
  font-size: 1.3rem;
}

.main-content .menu-nav .search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-content .menu-nav img {
  width: 1em;
}

.main-content .menu-nav img[alt="user"] {
  width: 2em;
  height: 2em;
}

.main-content .menu-nav .search input {
  font-size: 0.8em;
  padding: 4px 10px;
  border: none;
  background-color: var(--main-input-bgcolor);
  width: 90%;
  border-radius: 25px;
}

.main-content .menu-nav .profile-controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 45%;
  gap: 1em;
}

.main-content .welcomer-nav .welcome-profile {
  display: flex;
  align-items: center;
  gap: 1em;
}

.main-content .welcomer-nav .welcome-profile img {
  width: 4em;
  height: 4em;
}

.main-content .welcomer-nav .welcome-profile div {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.main-content .welcomer-nav .welcome-profile p {
  font-size: 0.8em;
}

.main-content .welcomer-nav .welcome-profile h3 {
  font-size: 1.2em;
}

.main-content .welcomer-nav .controls {
  display: flex;
  align-items: center;
  gap: 1em;
}

.main-content .welcomer-nav .controls button {
  background-color: var(--main-btn-bgcolor);
  color: var(--main-btn-font-bgcolor);
  font-size: 0.9rem;
  font-family: "Roboto bold";
  border: none;
  padding: 0.6em 2em;
  border-radius: 3em;
  transition: 0.3s;
}

.main-content .welcomer-nav .controls button:hover {
  background-color: var(--main-btn-hover-bgcolor);
  box-shadow: 0 3px 5px var(--shadow-color);
}

.main-content main {
  overflow: auto;
  height: 80%;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 25px;
  z-index: 1;
}

.main-content main p {
  font-family: "Roboto";
  font-size: 1rem;
  color: var(--main-description-font-color);
}

.main-content .projects-container {
  grid-column: 1;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content main h4 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.2rem;
}

.main-content .projects-container .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 200px;
  gap: 25px;
}

.main-content .projects-container .card {
  background-color: var(--main-card-bgcolor);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0px 5px 5px var(--shadow-color);
}

.main-content .projects-container .card .strip {
  background-color: var(--main-card-strip-color);
  flex-shrink: 0;
  width: 10px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.main-content .projects-container .card .container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content .projects-container .card .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-content .projects-container .card .controls {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.main-content .projects-container .card .controls button {
  background-color: transparent;
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  border: none;
  transition: 0.3s;
}

.main-content .projects-container .card .controls button:hover {
  background-color: rgb(0, 0, 0, 0.11);
}

.main-content .projects-container .card .controls img {
  width: 90%;
}

.main-content .left-side {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-content .announcements-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content .left-side .wrapper {
  background-color: var(--main-card-bgcolor);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 5px 5px var(--shadow-color);
}

.main-content .announcements-container .card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-content .announcements-container .card .title {
  font-family: "Roboto bold";
  color: var(--main-title-font-color);
}

.main-content .announcements-container .strip {
  background-color: var(--main-card-strip2-color);
  height: 3px;
  width: 100%;
  margin: 20px 0;
  border-radius: 100%;
}

.main-content .trending-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content .trending-container .wrapper {
  gap: 20px;
}

.main-content .trending-container .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-content .trending-container .user img {
  width: 3.5em;
  height: 3.5em;
}

.main-content .trending-container .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-content .trending-container .username {
  color: var(--main-title-font-color);
  font: bold;
}